.signUp-container{

    width: 40%;
    
    h2{
        margin-bottom: 2%;
    }

    p{
        margin-bottom: 10%;
    }

    .button-container{
        
        margin-top: 17%;

        button{
            width: 45%;
        }

    }

}