.navbar{

    display: flex;
    margin: 3%;

    .logo{
        flex-basis: 100%;
    }

    .link-container{
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
    }

}